m()
  if typeof(arguments) is 'unit'
    margin autoUnit(arguments)
  else
    margin auto
m-xs()
  +xs()
    m(arguments)
m-sm()
  +sm()
    m(arguments)
m-md()
  +md()
    m(arguments)
m-lg()
  +lg()
    m(arguments)

if index(breakpoints, xl)
  m-xl()
    +xl()
      m(arguments)
