bg(x = 50%, y = x , color = transparent)
  background-color color
  background-repeat no-repeat
  background-position x y

bg-xs()
  +xs()
    bg()
bg-sm()
  +sm()
    bg()
bg-md()
  +md()
    bg()
bg-lg()
  +lg()
    bg()
bg-xl()
  +xl()
    bg()
