br-medias()
  br
    &.br-lg
    &.br-md
    &.br-sm
    &.br-xs
      dn()
    &.br-lg
      db-lg()
    &.br-md
      db-md()
    &.br-sm
      db-sm()
    &.br-xs
      db-xs()

    if index(breakpoints, xl)
      &.br-xl
        dn()
        db-xl()
