ellips()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
ellips-xs()
  +xs()
    ellips()
ellips-sm()
  +sm()
    ellips()
ellips-md()
  +md()
    ellips()
ellips-lg()
  +lg()
    ellips()
ellips-xl()
  +xl()
    ellips()
