fvc(align = center, block = true)
  if block
    display flex
  else
    display inline-flex
  flex-direction column
  jcc()
  align-items align

fvc-xs(align, block)
  +xs()
    fvc(align, block)
fvc-sm()
  +sm()
    fvc(align, block)
fvc-md()
  +md()
    fvc(align, block)
fvc-lg()
  +lg()
    fvc(align, block)
fvc-xl()
  +xl()
    fvc(align, block)
