lhx(fontSize, lineHeight)
  line-height unit(round( lineHeight / fontSize, 2), '')

lhx-xs(fz, lh)
  +xs()
    lhx(fz, lh)
lhx-sm(fz, lh)
  +sm()
    lhx(fz, lh)
lhx-md(fz, lh)
  +md()
    lhx(fz, lh)
lhx-lg(fz, lh)
  +lg()
    lhx(fz, lh)
lhx-xl(fz, lh)
  +xl()
    lhx(fz, lh)
