ratio(w = 100%, h = 1, v = h)
  position relative
  width autoUnit(w)
  overflow hidden
  &::after
    padding-top (floor(v/h*100))%
    display block
    content ""

ratio-xs(w, h, v)
  +xs()
    ratio(w, h, v)
ratio-sm(w, h, v)
  +sm()
    ratio(w, h, v)
ratio-md(w, h, v)
  +md()
    ratio(w, h, v)
ratio-lg(w, h, v)
  +lg()
    ratio(w, h, v)
ratio-xl(w, h, v)
  +xl()
    ratio(w, h, v)
