sz(w = auto, h = w)
  width autoUnit(w)
  height autoUnit(h)
sz-xs(w = auto, h = w)
  +xs()
    sz(w, h)
sz-sm(w = auto, h = w)
  +sm()
    sz(w, h)
sz-md(w = auto, h = w)
  +md()
    sz(w, h)
sz-lg(w = auto, h = w)
  +lg()
    sz(w, h)
