trbl(arguments)
  if typeof(arguments[0]) is 'unit'
    t(arguments[0])
  else
    t()
  if typeof(arguments[1]) is 'unit'
    r(arguments[1])
  else
    r()
  if typeof(arguments[2]) is 'unit'
    b(arguments[2])
  else
    b()
  if typeof(arguments[3]) is 'unit'
    l(arguments[3])
  else
    l()

trbl0()
  poa()
  m()
  trbl(0 0 0 0)
