trbl(arguments)
  if typeof(arguments[0]) is 'unit'
    t(arguments[0])
  else
    t()
  if typeof(arguments[1]) is 'unit'
    r(arguments[1])
  else
    r()
  if typeof(arguments[2]) is 'unit'
    b(arguments[2])
  else
    b()
  if typeof(arguments[3]) is 'unit'
    l(arguments[3])
  else
    l()

trbl-xs(arguments)
  +xs()
    trbl(arguments)
trbl-sm(arguments)
  +sm()
    trbl(arguments)
trbl-md(arguments)
  +md()
    trbl(arguments)
trbl-lg(arguments)
  +lg()
    trbl(arguments)
trbl-xl(arguments)
  +xl()
    trbl(arguments)


trbl0()
  poa()
  m()
  trbl(0 0 0 0)

trbl0-xs()
  +xs()
    trbl0()
trbl0-sm()
  +sm()
    trbl0()
trbl0-md()
  +md()
    trbl0()
trbl0-lg()
  +lg()
    trbl0()
trbl0-xl()
  +xl()
    trbl0()
