cn(content = none)
  content content
cn-xs(content = none)
  +xs()
    cn(content)
cn-sm(content = none)
  +sm()
    cn(content)
cn-md(content = none)
  +md()
    cn(content)
cn-lg(content = none)
  +lg()
    cn(content)
