bdbn()
  border-bottom none
bdbn-xs()
  +xs()
    border-bottom none
bdbn-sm()
  +sm()
    border-bottom none
bdbn-md()
  +md()
    border-bottom none
bdbn-lg()
  +lg()
    border-bottom none
bdbn-xl()
  +xl()
    border-bottom none
bdln()
  border-left none
bdln-xs()
  +xs()
    border-left none
bdln-sm()
  +sm()
    border-left none
bdln-md()
  +md()
    border-left none
bdln-lg()
  +lg()
    border-left none
bdln-xl()
  +xl()
    border-left none
bdn()
  border none
bdn-xs()
  +xs()
    border none
bdn-sm()
  +sm()
    border none
bdn-md()
  +md()
    border none
bdn-lg()
  +lg()
    border none
bdn-xl()
  +xl()
    border none
bdrn()
  border-right none
bdrn-xs()
  +xs()
    border-right none
bdrn-sm()
  +sm()
    border-right none
bdrn-md()
  +md()
    border-right none
bdrn-lg()
  +lg()
    border-right none
bdrn-xl()
  +xl()
    border-right none
bdtn()
  border-top none
bdtn-xs()
  +xs()
    border-top none
bdtn-sm()
  +sm()
    border-top none
bdtn-md()
  +md()
    border-top none
bdtn-lg()
  +lg()
    border-top none
bdtn-xl()
  +xl()
    border-top none
bgn()
  background none
bgn-xs()
  +xs()
    background none
bgn-sm()
  +sm()
    background none
bgn-md()
  +md()
    background none
bgn-lg()
  +lg()
    background none
bgn-xl()
  +xl()
    background none
bgrn()
  background-repeat none
bgrn-xs()
  +xs()
    background-repeat none
bgrn-sm()
  +sm()
    background-repeat none
bgrn-md()
  +md()
    background-repeat none
bgrn-lg()
  +lg()
    background-repeat none
bgrn-xl()
  +xl()
    background-repeat none
bgszc()
  background-size cover
bgszc-xs()
  +xs()
    background-size cover
bgszc-sm()
  +sm()
    background-size cover
bgszc-md()
  +md()
    background-size cover
bgszc-lg()
  +lg()
    background-size cover
bgszc-xl()
  +xl()
    background-size cover
clb()
  clear both
clb-xs()
  +xs()
    clear both
clb-sm()
  +sm()
    clear both
clb-md()
  +md()
    clear both
clb-lg()
  +lg()
    clear both
clb-xl()
  +xl()
    clear both
cll()
  clear left
cll-xs()
  +xs()
    clear left
cll-sm()
  +sm()
    clear left
cll-md()
  +md()
    clear left
cll-lg()
  +lg()
    clear left
cll-xl()
  +xl()
    clear left
cln()
  clear none
cln-xs()
  +xs()
    clear none
cln-sm()
  +sm()
    clear none
cln-md()
  +md()
    clear none
cln-lg()
  +lg()
    clear none
cln-xl()
  +xl()
    clear none
clr()
  clear right
clr-xs()
  +xs()
    clear right
clr-sm()
  +sm()
    clear right
clr-md()
  +md()
    clear right
clr-lg()
  +lg()
    clear right
clr-xl()
  +xl()
    clear right
db()
  display block
db-xs()
  +xs()
    display block
db-sm()
  +sm()
    display block
db-md()
  +md()
    display block
db-lg()
  +lg()
    display block
db-xl()
  +xl()
    display block
df()
  display flex
df-xs()
  +xs()
    display flex
df-sm()
  +sm()
    display flex
df-md()
  +md()
    display flex
df-lg()
  +lg()
    display flex
df-xl()
  +xl()
    display flex
di()
  display inline
di-xs()
  +xs()
    display inline
di-sm()
  +sm()
    display inline
di-md()
  +md()
    display inline
di-lg()
  +lg()
    display inline
di-xl()
  +xl()
    display inline
dib()
  display inline-block
dib-xs()
  +xs()
    display inline-block
dib-sm()
  +sm()
    display inline-block
dib-md()
  +md()
    display inline-block
dib-lg()
  +lg()
    display inline-block
dib-xl()
  +xl()
    display inline-block
dif()
  display inline-flex
dif-xs()
  +xs()
    display inline-flex
dif-sm()
  +sm()
    display inline-flex
dif-md()
  +md()
    display inline-flex
dif-lg()
  +lg()
    display inline-flex
dif-xl()
  +xl()
    display inline-flex
dli()
  display list-item
dli-xs()
  +xs()
    display list-item
dli-sm()
  +sm()
    display list-item
dli-md()
  +md()
    display list-item
dli-lg()
  +lg()
    display list-item
dli-xl()
  +xl()
    display list-item
dn()
  display none
dn-xs()
  +xs()
    display none
dn-sm()
  +sm()
    display none
dn-md()
  +md()
    display none
dn-lg()
  +lg()
    display none
dn-xl()
  +xl()
    display none
dtb()
  display table
dtb-xs()
  +xs()
    display table
dtb-sm()
  +sm()
    display table
dtb-md()
  +md()
    display table
dtb-lg()
  +lg()
    display table
dtb-xl()
  +xl()
    display table
dtbc()
  display table-cell
dtbc-xs()
  +xs()
    display table-cell
dtbc-sm()
  +sm()
    display table-cell
dtbc-md()
  +md()
    display table-cell
dtbc-lg()
  +lg()
    display table-cell
dtbc-xl()
  +xl()
    display table-cell
dtbcl()
  display table-column
dtbcl-xs()
  +xs()
    display table-column
dtbcl-sm()
  +sm()
    display table-column
dtbcl-md()
  +md()
    display table-column
dtbcl-lg()
  +lg()
    display table-column
dtbcl-xl()
  +xl()
    display table-column
dtbr()
  display table-row
dtbr-xs()
  +xs()
    display table-row
dtbr-sm()
  +sm()
    display table-row
dtbr-md()
  +md()
    display table-row
dtbr-lg()
  +lg()
    display table-row
dtbr-xl()
  +xl()
    display table-row
fll()
  float left
fll-xs()
  +xs()
    float left
fll-sm()
  +sm()
    float left
fll-md()
  +md()
    float left
fll-lg()
  +lg()
    float left
fll-xl()
  +xl()
    float left
fln()
  float none
fln-xs()
  +xs()
    float none
fln-sm()
  +sm()
    float none
fln-md()
  +md()
    float none
fln-lg()
  +lg()
    float none
fln-xl()
  +xl()
    float none
flr()
  float right
flr-xs()
  +xs()
    float right
flr-sm()
  +sm()
    float right
flr-md()
  +md()
    float right
flr-lg()
  +lg()
    float right
flr-xl()
  +xl()
    float right
fxwn()
  flex-wrap nowrap
fxwn-xs()
  +xs()
    flex-wrap nowrap
fxwn-sm()
  +sm()
    flex-wrap nowrap
fxwn-md()
  +md()
    flex-wrap nowrap
fxwn-lg()
  +lg()
    flex-wrap nowrap
fxwn-xl()
  +xl()
    flex-wrap nowrap
fxww()
  flex-wrap wrap
fxww-xs()
  +xs()
    flex-wrap wrap
fxww-sm()
  +sm()
    flex-wrap wrap
fxww-md()
  +md()
    flex-wrap wrap
fxww-lg()
  +lg()
    flex-wrap wrap
fxww-xl()
  +xl()
    flex-wrap wrap
fxwwr()
  flex-wrap wrap-reverse
fxwwr-xs()
  +xs()
    flex-wrap wrap-reverse
fxwwr-sm()
  +sm()
    flex-wrap wrap-reverse
fxwwr-md()
  +md()
    flex-wrap wrap-reverse
fxwwr-lg()
  +lg()
    flex-wrap wrap-reverse
fxwwr-xl()
  +xl()
    flex-wrap wrap-reverse
fwb()
  font-weight bold
fwb-xs()
  +xs()
    font-weight bold
fwb-sm()
  +sm()
    font-weight bold
fwb-md()
  +md()
    font-weight bold
fwb-lg()
  +lg()
    font-weight bold
fwb-xl()
  +xl()
    font-weight bold
fwn()
  font-weight normal
fwn-xs()
  +xs()
    font-weight normal
fwn-sm()
  +sm()
    font-weight normal
fwn-md()
  +md()
    font-weight normal
fwn-lg()
  +lg()
    font-weight normal
fwn-xl()
  +xl()
    font-weight normal
jcc()
  justify-content center
jcc-xs()
  +xs()
    justify-content center
jcc-sm()
  +sm()
    justify-content center
jcc-md()
  +md()
    justify-content center
jcc-lg()
  +lg()
    justify-content center
jcc-xl()
  +xl()
    justify-content center
jcfe()
  justify-content flex-end
jcfe-xs()
  +xs()
    justify-content flex-end
jcfe-sm()
  +sm()
    justify-content flex-end
jcfe-md()
  +md()
    justify-content flex-end
jcfe-lg()
  +lg()
    justify-content flex-end
jcfe-xl()
  +xl()
    justify-content flex-end
jcfs()
  justify-content flex-start
jcfs-xs()
  +xs()
    justify-content flex-start
jcfs-sm()
  +sm()
    justify-content flex-start
jcfs-md()
  +md()
    justify-content flex-start
jcfs-lg()
  +lg()
    justify-content flex-start
jcfs-xl()
  +xl()
    justify-content flex-start
jcsa()
  justify-content space-around
jcsa-xs()
  +xs()
    justify-content space-around
jcsa-sm()
  +sm()
    justify-content space-around
jcsa-md()
  +md()
    justify-content space-around
jcsa-lg()
  +lg()
    justify-content space-around
jcsa-xl()
  +xl()
    justify-content space-around
jcsb()
  justify-content space-between
jcsb-xs()
  +xs()
    justify-content space-between
jcsb-sm()
  +sm()
    justify-content space-between
jcsb-md()
  +md()
    justify-content space-between
jcsb-lg()
  +lg()
    justify-content space-between
jcsb-xl()
  +xl()
    justify-content space-between
lisn()
  list-style none
lisn-xs()
  +xs()
    list-style none
lisn-sm()
  +sm()
    list-style none
lisn-md()
  +md()
    list-style none
lisn-lg()
  +lg()
    list-style none
lisn-xl()
  +xl()
    list-style none
oln()
  outline none
oln-xs()
  +xs()
    outline none
oln-sm()
  +sm()
    outline none
oln-md()
  +md()
    outline none
oln-lg()
  +lg()
    outline none
oln-xl()
  +xl()
    outline none
ova()
  overflow auto
ova-xs()
  +xs()
    overflow auto
ova-sm()
  +sm()
    overflow auto
ova-md()
  +md()
    overflow auto
ova-lg()
  +lg()
    overflow auto
ova-xl()
  +xl()
    overflow auto
ovh()
  overflow hidden
ovh-xs()
  +xs()
    overflow hidden
ovh-sm()
  +sm()
    overflow hidden
ovh-md()
  +md()
    overflow hidden
ovh-lg()
  +lg()
    overflow hidden
ovh-xl()
  +xl()
    overflow hidden
ovs()
  overflow scroll
ovs-xs()
  +xs()
    overflow scroll
ovs-sm()
  +sm()
    overflow scroll
ovs-md()
  +md()
    overflow scroll
ovs-lg()
  +lg()
    overflow scroll
ovs-xl()
  +xl()
    overflow scroll
ovv()
  overflow visible
ovv-xs()
  +xs()
    overflow visible
ovv-sm()
  +sm()
    overflow visible
ovv-md()
  +md()
    overflow visible
ovv-lg()
  +lg()
    overflow visible
ovv-xl()
  +xl()
    overflow visible
ovxa()
  overflow-x auto
ovxa-xs()
  +xs()
    overflow-x auto
ovxa-sm()
  +sm()
    overflow-x auto
ovxa-md()
  +md()
    overflow-x auto
ovxa-lg()
  +lg()
    overflow-x auto
ovxa-xl()
  +xl()
    overflow-x auto
ovxh()
  overflow-x hidden
ovxh-xs()
  +xs()
    overflow-x hidden
ovxh-sm()
  +sm()
    overflow-x hidden
ovxh-md()
  +md()
    overflow-x hidden
ovxh-lg()
  +lg()
    overflow-x hidden
ovxh-xl()
  +xl()
    overflow-x hidden
ovxs()
  overflow-x scroll
ovxs-xs()
  +xs()
    overflow-x scroll
ovxs-sm()
  +sm()
    overflow-x scroll
ovxs-md()
  +md()
    overflow-x scroll
ovxs-lg()
  +lg()
    overflow-x scroll
ovxs-xl()
  +xl()
    overflow-x scroll
ovxv()
  overflow-x visible
ovxv-xs()
  +xs()
    overflow-x visible
ovxv-sm()
  +sm()
    overflow-x visible
ovxv-md()
  +md()
    overflow-x visible
ovxv-lg()
  +lg()
    overflow-x visible
ovxv-xl()
  +xl()
    overflow-x visible
ovya()
  overflow-y auto
ovya-xs()
  +xs()
    overflow-y auto
ovya-sm()
  +sm()
    overflow-y auto
ovya-md()
  +md()
    overflow-y auto
ovya-lg()
  +lg()
    overflow-y auto
ovya-xl()
  +xl()
    overflow-y auto
ovyh()
  overflow-y hidden
ovyh-xs()
  +xs()
    overflow-y hidden
ovyh-sm()
  +sm()
    overflow-y hidden
ovyh-md()
  +md()
    overflow-y hidden
ovyh-lg()
  +lg()
    overflow-y hidden
ovyh-xl()
  +xl()
    overflow-y hidden
ovys()
  overflow-y scroll
ovys-xs()
  +xs()
    overflow-y scroll
ovys-sm()
  +sm()
    overflow-y scroll
ovys-md()
  +md()
    overflow-y scroll
ovys-lg()
  +lg()
    overflow-y scroll
ovys-xl()
  +xl()
    overflow-y scroll
ovyv()
  overflow-y visible
ovyv-xs()
  +xs()
    overflow-y visible
ovyv-sm()
  +sm()
    overflow-y visible
ovyv-md()
  +md()
    overflow-y visible
ovyv-lg()
  +lg()
    overflow-y visible
ovyv-xl()
  +xl()
    overflow-y visible
poa()
  position absolute
poa-xs()
  +xs()
    position absolute
poa-sm()
  +sm()
    position absolute
poa-md()
  +md()
    position absolute
poa-lg()
  +lg()
    position absolute
poa-xl()
  +xl()
    position absolute
pof()
  position fixed
pof-xs()
  +xs()
    position fixed
pof-sm()
  +sm()
    position fixed
pof-md()
  +md()
    position fixed
pof-lg()
  +lg()
    position fixed
pof-xl()
  +xl()
    position fixed
por()
  position relative
por-xs()
  +xs()
    position relative
por-sm()
  +sm()
    position relative
por-md()
  +md()
    position relative
por-lg()
  +lg()
    position relative
por-xl()
  +xl()
    position relative
pos()
  position static
pos-xs()
  +xs()
    position static
pos-sm()
  +sm()
    position static
pos-md()
  +md()
    position static
pos-lg()
  +lg()
    position static
pos-xl()
  +xl()
    position static
poen()
  pointer-events none
poen-xs()
  +xs()
    pointer-events none
poen-sm()
  +sm()
    pointer-events none
poen-md()
  +md()
    pointer-events none
poen-lg()
  +lg()
    pointer-events none
poen-xl()
  +xl()
    pointer-events none
tac()
  text-align center
tac-xs()
  +xs()
    text-align center
tac-sm()
  +sm()
    text-align center
tac-md()
  +md()
    text-align center
tac-lg()
  +lg()
    text-align center
tac-xl()
  +xl()
    text-align center
tal()
  text-align left
tal-xs()
  +xs()
    text-align left
tal-sm()
  +sm()
    text-align left
tal-md()
  +md()
    text-align left
tal-lg()
  +lg()
    text-align left
tal-xl()
  +xl()
    text-align left
tar()
  text-align right
tar-xs()
  +xs()
    text-align right
tar-sm()
  +sm()
    text-align right
tar-md()
  +md()
    text-align right
tar-lg()
  +lg()
    text-align right
tar-xl()
  +xl()
    text-align right
tdl()
  text-decoration line-through
tdl-xs()
  +xs()
    text-decoration line-through
tdl-sm()
  +sm()
    text-decoration line-through
tdl-md()
  +md()
    text-decoration line-through
tdl-lg()
  +lg()
    text-decoration line-through
tdl-xl()
  +xl()
    text-decoration line-through
tdn()
  text-decoration none
tdn-xs()
  +xs()
    text-decoration none
tdn-sm()
  +sm()
    text-decoration none
tdn-md()
  +md()
    text-decoration none
tdn-lg()
  +lg()
    text-decoration none
tdn-xl()
  +xl()
    text-decoration none
tdo()
  text-decoration overline
tdo-xs()
  +xs()
    text-decoration overline
tdo-sm()
  +sm()
    text-decoration overline
tdo-md()
  +md()
    text-decoration overline
tdo-lg()
  +lg()
    text-decoration overline
tdo-xl()
  +xl()
    text-decoration overline
tdu()
  text-decoration underline
tdu-xs()
  +xs()
    text-decoration underline
tdu-sm()
  +sm()
    text-decoration underline
tdu-md()
  +md()
    text-decoration underline
tdu-lg()
  +lg()
    text-decoration underline
tdu-xl()
  +xl()
    text-decoration underline
vasup()
  vertical-align super
vasup-xs()
  +xs()
    vertical-align super
vasup-sm()
  +sm()
    vertical-align super
vasup-md()
  +md()
    vertical-align super
vasup-lg()
  +lg()
    vertical-align super
vasup-xl()
  +xl()
    vertical-align super
vat()
  vertical-align top
vat-xs()
  +xs()
    vertical-align top
vat-sm()
  +sm()
    vertical-align top
vat-md()
  +md()
    vertical-align top
vat-lg()
  +lg()
    vertical-align top
vat-xl()
  +xl()
    vertical-align top
vatt()
  vertical-align text-top
vatt-xs()
  +xs()
    vertical-align text-top
vatt-sm()
  +sm()
    vertical-align text-top
vatt-md()
  +md()
    vertical-align text-top
vatt-lg()
  +lg()
    vertical-align text-top
vatt-xl()
  +xl()
    vertical-align text-top
vam()
  vertical-align middle
vam-xs()
  +xs()
    vertical-align middle
vam-sm()
  +sm()
    vertical-align middle
vam-md()
  +md()
    vertical-align middle
vam-lg()
  +lg()
    vertical-align middle
vam-xl()
  +xl()
    vertical-align middle
vabl()
  vertical-align baseline
vabl-xs()
  +xs()
    vertical-align baseline
vabl-sm()
  +sm()
    vertical-align baseline
vabl-md()
  +md()
    vertical-align baseline
vabl-lg()
  +lg()
    vertical-align baseline
vabl-xl()
  +xl()
    vertical-align baseline
vab()
  vertical-align bottom
vab-xs()
  +xs()
    vertical-align bottom
vab-sm()
  +sm()
    vertical-align bottom
vab-md()
  +md()
    vertical-align bottom
vab-lg()
  +lg()
    vertical-align bottom
vab-xl()
  +xl()
    vertical-align bottom
vatb()
  vertical-align text-bottom
vatb-xs()
  +xs()
    vertical-align text-bottom
vatb-sm()
  +sm()
    vertical-align text-bottom
vatb-md()
  +md()
    vertical-align text-bottom
vatb-lg()
  +lg()
    vertical-align text-bottom
vatb-xl()
  +xl()
    vertical-align text-bottom
vasub()
  vertical-align sub
vasub-xs()
  +xs()
    vertical-align sub
vasub-sm()
  +sm()
    vertical-align sub
vasub-md()
  +md()
    vertical-align sub
vasub-lg()
  +lg()
    vertical-align sub
vasub-xl()
  +xl()
    vertical-align sub
vh()
  visibility hidden
vh-xs()
  +xs()
    visibility hidden
vh-sm()
  +sm()
    visibility hidden
vh-md()
  +md()
    visibility hidden
vh-lg()
  +lg()
    visibility hidden
vh-xl()
  +xl()
    visibility hidden
vv()
  visibility visible
vv-xs()
  +xs()
    visibility visible
vv-sm()
  +sm()
    visibility visible
vv-md()
  +md()
    visibility visible
vv-lg()
  +lg()
    visibility visible
vv-xl()
  +xl()
    visibility visible
wsn()
  white-space normal
wsn-xs()
  +xs()
    white-space normal
wsn-sm()
  +sm()
    white-space normal
wsn-md()
  +md()
    white-space normal
wsn-lg()
  +lg()
    white-space normal
wsn-xl()
  +xl()
    white-space normal
wsnw()
  white-space nowrap
wsnw-xs()
  +xs()
    white-space nowrap
wsnw-sm()
  +sm()
    white-space nowrap
wsnw-md()
  +md()
    white-space nowrap
wsnw-lg()
  +lg()
    white-space nowrap
wsnw-xl()
  +xl()
    white-space nowrap
wsp()
  white-space pre
wsp-xs()
  +xs()
    white-space pre
wsp-sm()
  +sm()
    white-space pre
wsp-md()
  +md()
    white-space pre
wsp-lg()
  +lg()
    white-space pre
wsp-xl()
  +xl()
    white-space pre
