bgc(arguments = transparent)
  background-color arguments
bgc-xs(arguments = transparent)
  +xs()
    bgc arguments
bgc-sm(arguments = transparent)
  +sm()
    bgc arguments
bgc-md(arguments = transparent)
  +md()
    bgc arguments
bgc-lg(arguments = transparent)
  +lg()
    bgc arguments
bgc-xl(arguments = transparent)
  +xl()
    bgc arguments
bgi(arguments)
  background-image arguments
bgi-xs(arguments)
  +xs()
    bgi arguments
bgi-sm(arguments)
  +sm()
    bgi arguments
bgi-md(arguments)
  +md()
    bgi arguments
bgi-lg(arguments)
  +lg()
    bgi arguments
bgi-xl(arguments)
  +xl()
    bgi arguments
bgp(arguments = center center)
  background-position arguments
bgp-xs(arguments = center center)
  +xs()
    bgp arguments
bgp-sm(arguments = center center)
  +sm()
    bgp arguments
bgp-md(arguments = center center)
  +md()
    bgp arguments
bgp-lg(arguments = center center)
  +lg()
    bgp arguments
bgp-xl(arguments = center center)
  +xl()
    bgp arguments
bgsz(arguments = auto)
  background-size autoUnit(arguments)
bgsz-xs(arguments = auto)
  +xs()
    bgsz arguments
bgsz-sm(arguments = auto)
  +sm()
    bgsz arguments
bgsz-md(arguments = auto)
  +md()
    bgsz arguments
bgsz-lg(arguments = auto)
  +lg()
    bgsz arguments
bgsz-xl(arguments = auto)
  +xl()
    bgsz arguments
fz(arguments)
  font-size autoUnit(arguments)
fz-xs(arguments)
  +xs()
    fz arguments
fz-sm(arguments)
  +sm()
    fz arguments
fz-md(arguments)
  +md()
    fz arguments
fz-lg(arguments)
  +lg()
    fz arguments
fz-xl(arguments)
  +xl()
    fz arguments
c(arguments)
  color arguments
c-xs(arguments)
  +xs()
    c arguments
c-sm(arguments)
  +sm()
    c arguments
c-md(arguments)
  +md()
    c arguments
c-lg(arguments)
  +lg()
    c arguments
c-xl(arguments)
  +xl()
    c arguments
ls(arguments)
  letter-spacing autoUnit(arguments)
ls-xs(arguments)
  +xs()
    ls arguments
ls-sm(arguments)
  +sm()
    ls arguments
ls-md(arguments)
  +md()
    ls arguments
ls-lg(arguments)
  +lg()
    ls arguments
ls-xl(arguments)
  +xl()
    ls arguments
lh(arguments)
  line-height arguments
lh-xs(arguments)
  +xs()
    lh arguments
lh-sm(arguments)
  +sm()
    lh arguments
lh-md(arguments)
  +md()
    lh arguments
lh-lg(arguments)
  +lg()
    lh arguments
lh-xl(arguments)
  +xl()
    lh arguments
cnt(arguments = none)
  content arguments
cnt-xs(arguments = none)
  +xs()
    cnt arguments
cnt-sm(arguments = none)
  +sm()
    cnt arguments
cnt-md(arguments = none)
  +md()
    cnt arguments
cnt-lg(arguments = none)
  +lg()
    cnt arguments
cnt-xl(arguments = none)
  +xl()
    cnt arguments
cn(arguments = none)
  content arguments
cn-xs(arguments = none)
  +xs()
    cn arguments
cn-sm(arguments = none)
  +sm()
    cn arguments
cn-md(arguments = none)
  +md()
    cn arguments
cn-lg(arguments = none)
  +lg()
    cn arguments
cn-xl(arguments = none)
  +xl()
    cn arguments
mt(arguments = auto)
  margin-top autoUnit(arguments)
mt-xs(arguments = auto)
  +xs()
    mt arguments
mt-sm(arguments = auto)
  +sm()
    mt arguments
mt-md(arguments = auto)
  +md()
    mt arguments
mt-lg(arguments = auto)
  +lg()
    mt arguments
mt-xl(arguments = auto)
  +xl()
    mt arguments
mr(arguments = auto)
  margin-right autoUnit(arguments)
mr-xs(arguments = auto)
  +xs()
    mr arguments
mr-sm(arguments = auto)
  +sm()
    mr arguments
mr-md(arguments = auto)
  +md()
    mr arguments
mr-lg(arguments = auto)
  +lg()
    mr arguments
mr-xl(arguments = auto)
  +xl()
    mr arguments
mb(arguments = auto)
  margin-bottom autoUnit(arguments)
mb-xs(arguments = auto)
  +xs()
    mb arguments
mb-sm(arguments = auto)
  +sm()
    mb arguments
mb-md(arguments = auto)
  +md()
    mb arguments
mb-lg(arguments = auto)
  +lg()
    mb arguments
mb-xl(arguments = auto)
  +xl()
    mb arguments
ml(arguments = auto)
  margin-left autoUnit(arguments)
ml-xs(arguments = auto)
  +xs()
    ml arguments
ml-sm(arguments = auto)
  +sm()
    ml arguments
ml-md(arguments = auto)
  +md()
    ml arguments
ml-lg(arguments = auto)
  +lg()
    ml arguments
ml-xl(arguments = auto)
  +xl()
    ml arguments
pt(arguments)
  padding-top autoUnit(arguments)
pt-xs(arguments)
  +xs()
    pt arguments
pt-sm(arguments)
  +sm()
    pt arguments
pt-md(arguments)
  +md()
    pt arguments
pt-lg(arguments)
  +lg()
    pt arguments
pt-xl(arguments)
  +xl()
    pt arguments
pr(arguments)
  padding-right autoUnit(arguments)
pr-xs(arguments)
  +xs()
    pr arguments
pr-sm(arguments)
  +sm()
    pr arguments
pr-md(arguments)
  +md()
    pr arguments
pr-lg(arguments)
  +lg()
    pr arguments
pr-xl(arguments)
  +xl()
    pr arguments
pb(arguments)
  padding-bottom autoUnit(arguments)
pb-xs(arguments)
  +xs()
    pb arguments
pb-sm(arguments)
  +sm()
    pb arguments
pb-md(arguments)
  +md()
    pb arguments
pb-lg(arguments)
  +lg()
    pb arguments
pb-xl(arguments)
  +xl()
    pb arguments
pl(arguments)
  padding-left autoUnit(arguments)
pl-xs(arguments)
  +xs()
    pl arguments
pl-sm(arguments)
  +sm()
    pl arguments
pl-md(arguments)
  +md()
    pl arguments
pl-lg(arguments)
  +lg()
    pl arguments
pl-xl(arguments)
  +xl()
    pl arguments
t(arguments = auto)
  top autoUnit(arguments)
t-xs(arguments = auto)
  +xs()
    t arguments
t-sm(arguments = auto)
  +sm()
    t arguments
t-md(arguments = auto)
  +md()
    t arguments
t-lg(arguments = auto)
  +lg()
    t arguments
t-xl(arguments = auto)
  +xl()
    t arguments
r(arguments = auto)
  right autoUnit(arguments)
r-xs(arguments = auto)
  +xs()
    r arguments
r-sm(arguments = auto)
  +sm()
    r arguments
r-md(arguments = auto)
  +md()
    r arguments
r-lg(arguments = auto)
  +lg()
    r arguments
r-xl(arguments = auto)
  +xl()
    r arguments
b(arguments = auto)
  bottom autoUnit(arguments)
b-xs(arguments = auto)
  +xs()
    b arguments
b-sm(arguments = auto)
  +sm()
    b arguments
b-md(arguments = auto)
  +md()
    b arguments
b-lg(arguments = auto)
  +lg()
    b arguments
b-xl(arguments = auto)
  +xl()
    b arguments
l(arguments = auto)
  left autoUnit(arguments)
l-xs(arguments = auto)
  +xs()
    l arguments
l-sm(arguments = auto)
  +sm()
    l arguments
l-md(arguments = auto)
  +md()
    l arguments
l-lg(arguments = auto)
  +lg()
    l arguments
l-xl(arguments = auto)
  +xl()
    l arguments
w(arguments = auto)
  width autoUnit(arguments)
w-xs(arguments = auto)
  +xs()
    w arguments
w-sm(arguments = auto)
  +sm()
    w arguments
w-md(arguments = auto)
  +md()
    w arguments
w-lg(arguments = auto)
  +lg()
    w arguments
w-xl(arguments = auto)
  +xl()
    w arguments
h(arguments = auto)
  height autoUnit(arguments)
h-xs(arguments = auto)
  +xs()
    h arguments
h-sm(arguments = auto)
  +sm()
    h arguments
h-md(arguments = auto)
  +md()
    h arguments
h-lg(arguments = auto)
  +lg()
    h arguments
h-xl(arguments = auto)
  +xl()
    h arguments
bdrs(arguments = 0)
  border-radius autoUnit(arguments)
bdrs-xs(arguments = 0)
  +xs()
    bdrs arguments
bdrs-sm(arguments = 0)
  +sm()
    bdrs arguments
bdrs-md(arguments = 0)
  +md()
    bdrs arguments
bdrs-lg(arguments = 0)
  +lg()
    bdrs arguments
bdrs-xl(arguments = 0)
  +xl()
    bdrs arguments
bd(arguments)
  border arguments
bd-xs(arguments)
  +xs()
    bd arguments
bd-sm(arguments)
  +sm()
    bd arguments
bd-md(arguments)
  +md()
    bd arguments
bd-lg(arguments)
  +lg()
    bd arguments
bd-xl(arguments)
  +xl()
    bd arguments
bdw(arguments)
  border-width autoUnit(arguments)
bdw-xs(arguments)
  +xs()
    bdw arguments
bdw-sm(arguments)
  +sm()
    bdw arguments
bdw-md(arguments)
  +md()
    bdw arguments
bdw-lg(arguments)
  +lg()
    bdw arguments
bdw-xl(arguments)
  +xl()
    bdw arguments
bds(arguments = solid)
  border-style arguments
bds-xs(arguments = solid)
  +xs()
    bds arguments
bds-sm(arguments = solid)
  +sm()
    bds arguments
bds-md(arguments = solid)
  +md()
    bds arguments
bds-lg(arguments = solid)
  +lg()
    bds arguments
bds-xl(arguments = solid)
  +xl()
    bds arguments
bdc(arguments)
  border-color arguments
bdc-xs(arguments)
  +xs()
    bdc arguments
bdc-sm(arguments)
  +sm()
    bdc arguments
bdc-md(arguments)
  +md()
    bdc arguments
bdc-lg(arguments)
  +lg()
    bdc arguments
bdc-xl(arguments)
  +xl()
    bdc arguments
bdt(arguments)
  border-top arguments
bdt-xs(arguments)
  +xs()
    bdt arguments
bdt-sm(arguments)
  +sm()
    bdt arguments
bdt-md(arguments)
  +md()
    bdt arguments
bdt-lg(arguments)
  +lg()
    bdt arguments
bdt-xl(arguments)
  +xl()
    bdt arguments
bdtw(arguments)
  border-top-width autoUnit(arguments)
bdtw-xs(arguments)
  +xs()
    bdtw arguments
bdtw-sm(arguments)
  +sm()
    bdtw arguments
bdtw-md(arguments)
  +md()
    bdtw arguments
bdtw-lg(arguments)
  +lg()
    bdtw arguments
bdtw-xl(arguments)
  +xl()
    bdtw arguments
bdts(arguments = solid)
  border-top-style arguments
bdts-xs(arguments = solid)
  +xs()
    bdts arguments
bdts-sm(arguments = solid)
  +sm()
    bdts arguments
bdts-md(arguments = solid)
  +md()
    bdts arguments
bdts-lg(arguments = solid)
  +lg()
    bdts arguments
bdts-xl(arguments = solid)
  +xl()
    bdts arguments
bdtc(arguments)
  border-top-color arguments
bdtc-xs(arguments)
  +xs()
    bdtc arguments
bdtc-sm(arguments)
  +sm()
    bdtc arguments
bdtc-md(arguments)
  +md()
    bdtc arguments
bdtc-lg(arguments)
  +lg()
    bdtc arguments
bdtc-xl(arguments)
  +xl()
    bdtc arguments
bdr(arguments)
  border-right arguments
bdr-xs(arguments)
  +xs()
    bdr arguments
bdr-sm(arguments)
  +sm()
    bdr arguments
bdr-md(arguments)
  +md()
    bdr arguments
bdr-lg(arguments)
  +lg()
    bdr arguments
bdr-xl(arguments)
  +xl()
    bdr arguments
bdrw(arguments)
  border-right-width autoUnit(arguments)
bdrw-xs(arguments)
  +xs()
    bdrw arguments
bdrw-sm(arguments)
  +sm()
    bdrw arguments
bdrw-md(arguments)
  +md()
    bdrw arguments
bdrw-lg(arguments)
  +lg()
    bdrw arguments
bdrw-xl(arguments)
  +xl()
    bdrw arguments
bdrst(arguments = solid)
  border-right-style arguments
bdrst-xs(arguments = solid)
  +xs()
    bdrst arguments
bdrst-sm(arguments = solid)
  +sm()
    bdrst arguments
bdrst-md(arguments = solid)
  +md()
    bdrst arguments
bdrst-lg(arguments = solid)
  +lg()
    bdrst arguments
bdrst-xl(arguments = solid)
  +xl()
    bdrst arguments
bdrc(arguments)
  border-right-color arguments
bdrc-xs(arguments)
  +xs()
    bdrc arguments
bdrc-sm(arguments)
  +sm()
    bdrc arguments
bdrc-md(arguments)
  +md()
    bdrc arguments
bdrc-lg(arguments)
  +lg()
    bdrc arguments
bdrc-xl(arguments)
  +xl()
    bdrc arguments
bdb(arguments)
  border-bottom arguments
bdb-xs(arguments)
  +xs()
    bdb arguments
bdb-sm(arguments)
  +sm()
    bdb arguments
bdb-md(arguments)
  +md()
    bdb arguments
bdb-lg(arguments)
  +lg()
    bdb arguments
bdb-xl(arguments)
  +xl()
    bdb arguments
bdbw(arguments)
  border-bottom-width autoUnit(arguments)
bdbw-xs(arguments)
  +xs()
    bdbw arguments
bdbw-sm(arguments)
  +sm()
    bdbw arguments
bdbw-md(arguments)
  +md()
    bdbw arguments
bdbw-lg(arguments)
  +lg()
    bdbw arguments
bdbw-xl(arguments)
  +xl()
    bdbw arguments
bdbs(arguments = solid)
  border-bottom-style arguments
bdbs-xs(arguments = solid)
  +xs()
    bdbs arguments
bdbs-sm(arguments = solid)
  +sm()
    bdbs arguments
bdbs-md(arguments = solid)
  +md()
    bdbs arguments
bdbs-lg(arguments = solid)
  +lg()
    bdbs arguments
bdbs-xl(arguments = solid)
  +xl()
    bdbs arguments
bdbc(arguments)
  border-bottom-color arguments
bdbc-xs(arguments)
  +xs()
    bdbc arguments
bdbc-sm(arguments)
  +sm()
    bdbc arguments
bdbc-md(arguments)
  +md()
    bdbc arguments
bdbc-lg(arguments)
  +lg()
    bdbc arguments
bdbc-xl(arguments)
  +xl()
    bdbc arguments
bdl(arguments)
  border-left arguments
bdl-xs(arguments)
  +xs()
    bdl arguments
bdl-sm(arguments)
  +sm()
    bdl arguments
bdl-md(arguments)
  +md()
    bdl arguments
bdl-lg(arguments)
  +lg()
    bdl arguments
bdl-xl(arguments)
  +xl()
    bdl arguments
bdlw(arguments)
  border-left-width autoUnit(arguments)
bdlw-xs(arguments)
  +xs()
    bdlw arguments
bdlw-sm(arguments)
  +sm()
    bdlw arguments
bdlw-md(arguments)
  +md()
    bdlw arguments
bdlw-lg(arguments)
  +lg()
    bdlw arguments
bdlw-xl(arguments)
  +xl()
    bdlw arguments
bdls(arguments = solid)
  border-left-style arguments
bdls-xs(arguments = solid)
  +xs()
    bdls arguments
bdls-sm(arguments = solid)
  +sm()
    bdls arguments
bdls-md(arguments = solid)
  +md()
    bdls arguments
bdls-lg(arguments = solid)
  +lg()
    bdls arguments
bdls-xl(arguments = solid)
  +xl()
    bdls arguments
bdlc(arguments)
  border-left-color arguments
bdlc-xs(arguments)
  +xs()
    bdlc arguments
bdlc-sm(arguments)
  +sm()
    bdlc arguments
bdlc-md(arguments)
  +md()
    bdlc arguments
bdlc-lg(arguments)
  +lg()
    bdlc arguments
bdlc-xl(arguments)
  +xl()
    bdlc arguments
maw(arguments = none)
  max-width autoUnit(arguments)
maw-xs(arguments = none)
  +xs()
    maw arguments
maw-sm(arguments = none)
  +sm()
    maw arguments
maw-md(arguments = none)
  +md()
    maw arguments
maw-lg(arguments = none)
  +lg()
    maw arguments
maw-xl(arguments = none)
  +xl()
    maw arguments
mah(arguments = none)
  max-height autoUnit(arguments)
mah-xs(arguments = none)
  +xs()
    mah arguments
mah-sm(arguments = none)
  +sm()
    mah arguments
mah-md(arguments = none)
  +md()
    mah arguments
mah-lg(arguments = none)
  +lg()
    mah arguments
mah-xl(arguments = none)
  +xl()
    mah arguments
miw(arguments)
  min-width autoUnit(arguments)
miw-xs(arguments)
  +xs()
    miw arguments
miw-sm(arguments)
  +sm()
    miw arguments
miw-md(arguments)
  +md()
    miw arguments
miw-lg(arguments)
  +lg()
    miw arguments
miw-xl(arguments)
  +xl()
    miw arguments
mih(arguments)
  min-height autoUnit(arguments)
mih-xs(arguments)
  +xs()
    mih arguments
mih-sm(arguments)
  +sm()
    mih arguments
mih-md(arguments)
  +md()
    mih arguments
mih-lg(arguments)
  +lg()
    mih arguments
mih-xl(arguments)
  +xl()
    mih arguments
trf(arguments)
  transform arguments
trf-xs(arguments)
  +xs()
    trf arguments
trf-sm(arguments)
  +sm()
    trf arguments
trf-md(arguments)
  +md()
    trf arguments
trf-lg(arguments)
  +lg()
    trf arguments
trf-xl(arguments)
  +xl()
    trf arguments
fx(arguments = 1)
  flex arguments
fx-xs(arguments = 1)
  +xs()
    fx arguments
fx-sm(arguments = 1)
  +sm()
    fx arguments
fx-md(arguments = 1)
  +md()
    fx arguments
fx-lg(arguments = 1)
  +lg()
    fx arguments
fx-xl(arguments = 1)
  +xl()
    fx arguments
