trfr(arguments)
  transform rotate(autoUnitDeg(arguments))
trfr-xs(arguments)
  +xs()
    trfr arguments
trfr-sm(arguments)
  +sm()
    trfr arguments
trfr-md(arguments)
  +md()
    trfr arguments
trfr-lg(arguments)
  +lg()
    trfr arguments
trfr-xl(arguments)
  +xl()
    trfr arguments
trfrx(arguments)
  transform rotateX(autoUnitDeg(arguments))
trfrx-xs(arguments)
  +xs()
    trfrx arguments
trfrx-sm(arguments)
  +sm()
    trfrx arguments
trfrx-md(arguments)
  +md()
    trfrx arguments
trfrx-lg(arguments)
  +lg()
    trfrx arguments
trfrx-xl(arguments)
  +xl()
    trfrx arguments
trfry(arguments)
  transform rotateY(autoUnitDeg(arguments))
trfry-xs(arguments)
  +xs()
    trfry arguments
trfry-sm(arguments)
  +sm()
    trfry arguments
trfry-md(arguments)
  +md()
    trfry arguments
trfry-lg(arguments)
  +lg()
    trfry arguments
trfry-xl(arguments)
  +xl()
    trfry arguments
trfrz(arguments)
  transform rotateZ(autoUnitDeg(arguments))
trfrz-xs(arguments)
  +xs()
    trfrz arguments
trfrz-sm(arguments)
  +sm()
    trfrz arguments
trfrz-md(arguments)
  +md()
    trfrz arguments
trfrz-lg(arguments)
  +lg()
    trfrz arguments
trfrz-xl(arguments)
  +xl()
    trfrz arguments
trfsc(arguments)
  transform scale(arguments)
trfsc-xs(arguments)
  +xs()
    trfsc arguments
trfsc-sm(arguments)
  +sm()
    trfsc arguments
trfsc-md(arguments)
  +md()
    trfsc arguments
trfsc-lg(arguments)
  +lg()
    trfsc arguments
trfsc-xl(arguments)
  +xl()
    trfsc arguments
trfscx(arguments)
  transform scaleX(arguments)
trfscx-xs(arguments)
  +xs()
    trfscx arguments
trfscx-sm(arguments)
  +sm()
    trfscx arguments
trfscx-md(arguments)
  +md()
    trfscx arguments
trfscx-lg(arguments)
  +lg()
    trfscx arguments
trfscx-xl(arguments)
  +xl()
    trfscx arguments
trfscy(arguments)
  transform scaleY(arguments)
trfscy-xs(arguments)
  +xs()
    trfscy arguments
trfscy-sm(arguments)
  +sm()
    trfscy arguments
trfscy-md(arguments)
  +md()
    trfscy arguments
trfscy-lg(arguments)
  +lg()
    trfscy arguments
trfscy-xl(arguments)
  +xl()
    trfscy arguments
trfscz(arguments)
  transform scaleZ(arguments)
trfscz-xs(arguments)
  +xs()
    trfscz arguments
trfscz-sm(arguments)
  +sm()
    trfscz arguments
trfscz-md(arguments)
  +md()
    trfscz arguments
trfscz-lg(arguments)
  +lg()
    trfscz arguments
trfscz-xl(arguments)
  +xl()
    trfscz arguments
trfsk(arguments)
  transform skew(autoUnitDeg(arguments))
trfsk-xs(arguments)
  +xs()
    trfsk arguments
trfsk-sm(arguments)
  +sm()
    trfsk arguments
trfsk-md(arguments)
  +md()
    trfsk arguments
trfsk-lg(arguments)
  +lg()
    trfsk arguments
trfsk-xl(arguments)
  +xl()
    trfsk arguments
trfskx(arguments)
  transform skewX(autoUnitDeg(arguments))
trfskx-xs(arguments)
  +xs()
    trfskx arguments
trfskx-sm(arguments)
  +sm()
    trfskx arguments
trfskx-md(arguments)
  +md()
    trfskx arguments
trfskx-lg(arguments)
  +lg()
    trfskx arguments
trfskx-xl(arguments)
  +xl()
    trfskx arguments
trfsky(arguments)
  transform skewY(autoUnitDeg(arguments))
trfsky-xs(arguments)
  +xs()
    trfsky arguments
trfsky-sm(arguments)
  +sm()
    trfsky arguments
trfsky-md(arguments)
  +md()
    trfsky arguments
trfsky-lg(arguments)
  +lg()
    trfsky arguments
trfsky-xl(arguments)
  +xl()
    trfsky arguments
trft(arguments)
  transform translate(autoUnit(arguments))
trft-xs(arguments)
  +xs()
    trft arguments
trft-sm(arguments)
  +sm()
    trft arguments
trft-md(arguments)
  +md()
    trft arguments
trft-lg(arguments)
  +lg()
    trft arguments
trft-xl(arguments)
  +xl()
    trft arguments
trftx(arguments)
  transform translateX(autoUnit(arguments))
trftx-xs(arguments)
  +xs()
    trftx arguments
trftx-sm(arguments)
  +sm()
    trftx arguments
trftx-md(arguments)
  +md()
    trftx arguments
trftx-lg(arguments)
  +lg()
    trftx arguments
trftx-xl(arguments)
  +xl()
    trftx arguments
trfty(arguments)
  transform translateY(autoUnit(arguments))
trfty-xs(arguments)
  +xs()
    trfty arguments
trfty-sm(arguments)
  +sm()
    trfty arguments
trfty-md(arguments)
  +md()
    trfty arguments
trfty-lg(arguments)
  +lg()
    trfty arguments
trfty-xl(arguments)
  +xl()
    trfty arguments
trftz(arguments)
  transform translateZ(autoUnit(arguments))
trftz-xs(arguments)
  +xs()
    trftz arguments
trftz-sm(arguments)
  +sm()
    trftz arguments
trftz-md(arguments)
  +md()
    trftz arguments
trftz-lg(arguments)
  +lg()
    trftz arguments
trftz-xl(arguments)
  +xl()
    trftz arguments
